[mysqld_safe]
log-error=/var/log/mariadb/mariadb.log
pid-file=/var/run/mariadb/mariadb.pid

[mysqld]
pid-file        = /var/run/mysqld/mysqld.pid
socket          = /var/run/mysqld/mysqld.sock
basedir         = /usr
datadir         = /var/lib/mysql
tmpdir          = /tmp
server-id       = 2
relay-log-index = slave-relay-bin.index
relay-log-index = slave-relay-bin 

!includedir /etc/mysql/conf.d/
